@media (max-width: 576px) {
  .navbar-brand {
    font-size: 1.5rem;
  }

  .navbar-toggler {
    margin-right: 1rem;
  }

  .navbar-collapse {
    margin-top: 1rem;
  }

  .footer-top {
    padding: 1rem;
  }

  .footer-top {
    padding: 1rem;
  }

  .fa-VM {
    margin-top: 1rem;
  }

  .social-icons {
    margin-top: 1rem;
  }

  .btn {
    margin-top: 1rem;
  }
}
